<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span> 
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe-now-btn">
				<button>
					<i class="fas fa-bell"></i>
					<span>SUBSCRIBE NOW</span>
				</button>
			</li>
			<li id="log-in-btn">
				<button>
					<i class="fas fa-sign-in-alt"></i>
					<span>LOG IN</span>
				</button>
			</li>
			<li id="gear-icon">
				<%= render partial: 'shared/gear_dropdown' %>
				<i class="fas fa-cog"></i>
				<span><span>
			</li>
		</ul>
	</nav>
</header>
<hr>

