<h1>Create a band!</h1>

<br>
<br>

<form action="<%= bands_url %>" method="post">

<label>Name:
<input type="text" name="band[name]" value ="">
</label>

<br>
<br>

<input type="submit" value="Create Band">

</form>